.container{
    display: flex;
    width: 100%;
    height: 80px;
    background-color: #f9ba21;
    justify-content: center;
    align-items: center;
    padding-right: 4%;
    padding-left: 4%;
}

.logo{
    display: flex;
    flex-grow: 2;
    justify-content: center;
    align-items: center;
}

.navigationLinks{
    display: flex;
    align-items: center;
    flex-grow: 7;
    list-style-type: none;
}

.homeLink{
    color: #872f00;
    font-size: 18px;
}

.links{
    margin-left: 15px;
    color: #872f00;
    font-size: 18px;
}

